# Owner global del repositorio
* @PRNovoa

# Backend
/backend/ @PRNovoa @Gonsiii11

# Frontend general
/desktop/src/ @PRNovoa @alexxblaro16

# 3D / 360
/desktop/src/components/ @PRNovoa @diegomartinezh

# Infraestructura y coordinación
/docker/ @PRNovoa @Gonsiii11
/.github/ @PRNovoa
/docs/ @PRNovoa
/README.md @PRNovoa
/CONTRIBUTING.md @PRNovoa
